{% extends 'base_basket.html' %}
{% load static %}
{% block content %}
    <div class="">
        <div class="row">
            <div style="text-align: center;">
                <img
                        style=" width: 10vw; min-width: 120px; max-width: 300px" src="{% static 'img/logo/1111.webp' %}"
                        alt="favicon">
            </div>
            <h1 class="text-center" style="font-size: 50px">Шашлычок</h1>
            <a class="basket" href="{% url 'basket:cart_detail' %}" id="cart-link">
                <img style="position: relative; top: 20%;" src="{% static 'img/basket-fill.svg' %}" alt="basket-fill">
                <div style="position: relative; top: -45%; left: 45%; font-family: 'Roboto', Arial, sans-serif; font-weight: bold">{{ cart_count }}</div>
            </a>
            <div style="margin-top: 20px; text-align: center;
    font-style: italic;">
                <p>Проспект Александровской Фермы, 8литА</p>
                <p>Телефон: +7 (981) 707-03-06</p>
                <p><a href="{% url 'basket:about' %}">Доставка</a></p>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav class="nav nav-pills justify-content-center">  <!-- Горизонтальное меню категорий -->
                        {% for category in categories %}
                            {% if category.slug != current_category.slug %}
                            <a class="nav-link"
                               href="{% url 'basket:category_detail' category.slug %}">{{ category.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
            </div>
            {% if products_by_category %}
                {% for category, products in products_by_category.items %}

                    <h2 style="text-align: center">{{ category.name }}</h2>
                    <div class="product-grid">
                        {% for product in products %}
                            <div itemscope itemtype="http://schema.org/Product" >
                                <meta itemprop="name" content="{{ product.name }}">
                                <meta itemprop="description" content="{{ product.description }}">
                                <meta itemprop="weight" content="{{ product.gram }}">

                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="price" content="{{ product.price }}">
                                    <meta itemprop="priceCurrency" content="RUB">
                                    <meta itemprop="availability" content="http://schema.org/InStock">
                                    <link itemprop="url" href="{% url 'basket:product_detail' product.id %}"/>

                                    <div class="card product-card">
                                        <a href="{% url 'basket:product_detail' product.id %}" itemprop="url">
                                            {% if product.image %}
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                                     class="card-img-top img-fluid img-thumbnail"
                                                     itemprop="image" style="height: 200px; object-fit: cover">
                                            {% else %}
                                                <img src="{% static 'img/no-image.webp' %}" alt="Нет изображения"
                                                     class="card-img-top img-fluid img-thumbnail"
                                                >
                                            {% endif %}
                                        </a>
                                        <div class="card-body">
                                            <h5>{{ product.name }}</h5>
                                            <p>{{ product.description }}</p>
                                            <p>
                                                Цена: <span itemprop="price">{{ product.price }}</span> руб.
                                                <span>({{ product.gram }} г)</span>
                                            </p>
                                            <form method="post" action="{% url 'basket:add_to_cart' product.id %}"
                                                  data-product-id="{{ product.id }}" class="add-to-cart-form"
                                                  itemprop="action">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary">
                                                    Добавить в корзину
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            {% else %}
                <p>Нет категорий товаров.</p>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function (xhr, status, error) {
            $('.add-to-cart-form').submit(function (event) {
                event.preventDefault();
                const form = $(this);
                const productId = form.data('product-id');
                const url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (response) {

                        if (response && response['cart-count']) {

                            $("#cart-link div").text(response['cart-count']);
                            $('#cart-link').data('cart-count', response['cart-count']);

                        }


                    },
                    error: function (xhr, status, error) {
                        console.error('Ошибка добавления в корзину:', error);
                    }
                });
            });


        });

    </script>
{% endblock %}