
/*кнопка обратной связи*/
.basket {
    background: #610505;
    border-radius: 50%;

    cursor: pointer;
    border: 2px solid transparent;
    display: block;
    height: 55px;
    width: 55px;
    text-align: center;
    position: fixed;
    right: 8%;
    bottom: 18%;
    z-index: 999;
    transition: .3s ease-in-out;
    -webkit-animation: email-an linear 1s infinite;
    animation: email-an linear 1s infinite;
}

.basket:hover {
    background: #ffffff;
    border: 2px solid #610505;
}

.basket .text-call {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: relative;
}

.basket .text-call:after {
    content: "\f1d8";
    display: block;
    font-family: FontAwesome;

    color: #fff;
    font-size: 34px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    opacity: 1;
    transition: .3s ease-in-out;
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}

.basket .text-call:hover:after {
    opacity: 0;
}

.basket .text-call span {
    color: #610505;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease-in-out;

}

.basket .text-call:hover span {
    opacity: 1;
}

@keyframes email-an {
    0% {
        box-shadow: 0 8px 10px rgb(97, 5, 5), 0 0 0 0 rgb(128, 7, 7), 0 0 0 0 rgb(181, 5, 5)
    }

    40% {
        box-shadow: 0 8px 10px rgb(97, 5, 5), 0 0 0 15px rgb(120, 7, 7), 0 0 0 0 rgb(168, 7, 7)
    }

    80% {
        box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 26.7px rgba(249, 92, 24, 0.067)
    }

    100% {
        box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 40px rgba(249, 92, 24, 0.0)
    }
}

@keyframes opsimple {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

/* конец кнопки звязи */