
.order-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.order-form input[type="text"],
.order-form input[type="tel"],
.order-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.order-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-grid {
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       grid-gap: 5px;
   }
@media (max-width: 768px) {
   .product-grid {
       grid-template-columns: repeat(2, 1fr);
   }


}